form {
    margin: 2rem -1rem;
    padding: 1rem;
    background-color: #fefefe;
    box-shadow: 3px 3px 6px #666;
    border-radius: 0.3rem;
}

body {
    padding-top: 5rem;
}

.error {
    color: #cc0000;
}
