<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:fm="http://www.wardm.uk/fm">
<head th:replace="layout::html-head(~{::title})">
    <title>Further Form Test</title>
</head>

<body th:replace="layout::body(~{::main})">
<main>
    <h1>More!</h1>
    <p>This shows an Enum being displayed as a &lt;select&gt; &mdash; there's no need to add the @Select
    annotation as this is the default for enums.</p>
    <p>Boolean (and boolean primitives) are treated the same way.</p>

    <p>Click &ldquo;Save&rdquo; to see the form values that get submitted by this form.</p>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="#" th:object="${form}" th:action="@{/more}" method="post">
                    <fm:form-fields fm:form="${form}"/>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Save">
                        <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
            <div class="col">
                <div th:if="${showValues}" class="card">
                    <div class="card-body">
                        <div class="card-title"><h3>Submitted values</h3></div>
                        <div class="card-text">
                            <table class="table table-striped">
                                <tr th:each="entry : ${submittedValues}">
                                    <td th:text="${entry.key}">Value</td>
                                    <td th:text="${entry.value}">Value</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
